<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container-fluid p-0" th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="/" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5 text-uppercase text-primary"><i class="fa fa-truck mr-2"></i>Faster</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="/service" class="nav-item nav-link">Service</a>
                <a href="/contact" class="nav-item nav-link">Contact</a>

                <a href="/user/profile" class="nav-item nav-link"
                   th:if="${#request.userPrincipal != null and !#request.isUserInRole('ADMIN') }">Profile</a>
                <a href="/user" class="nav-item nav-link"
                   th:if="${#request.isUserInRole('ADMIN') }">Users</a>
                <a href="/login" class="nav-item nav-link"
                   th:if="${#request.userPrincipal == null}">Login</a>
                <a href="/logout" class="nav-item nav-link"
                   th:if="${#request.userPrincipal != null}">Logout</a>



                <a href="/location" class="nav-item nav-link">location</a>
                <a href="/parcel" class="nav-item nav-link">parcel</a>
                <a href="/route" class="nav-item nav-link">route</a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>