<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Location</title>
    <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>
<div th:replace="~{/commons/topbar :: topbar}"></div>
<div th:replace="~{/commons/navbar :: navbar}"></div>
<div th:replace="~{/commons/head :: page('Location details')}"></div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Location Information</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Address</th>
                        <td th:text="${entity.address}"></td>
                    </tr>
                    <tr>
                        <th>Latitude</th>
                        <td th:text="${entity.latitude}"></td>
                    </tr>
                    <tr>
                        <th>Longitude</th>
                        <td th:text="${entity.longitude}"></td>
                    </tr>
                    <tr>
                        <th>Contact Info</th>
                        <td th:text="${entity.contactInfo}"></td>
                    </tr>
                </table>
                <div class="d-flex">
                    <a class="btn btn-primary" th:href="@{/location/edit/{id}(id=${entity.id})}">Edit Location</a>
                    <form th:if="${entity.id!=null}" method="get" th:action="'/location/' + ${entity.id} + '/delete'">
                        <input type="submit" class="btn btn-primary" value="Delete" onclick="return confirm('Are you sure?')">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/commons/footer :: footer}"></div>
<div th:replace="~{/commons/script :: script}"></div>
</body>
</html>
