<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Location</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of Location</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/location/edit}">Create new Location</a>
<table>
    <thead>
    <tr>
        <th>address</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>contactInfo</th>
        <th>users</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.address}></td>
                                            <td th:text=${entity.latitude}></td>
                                            <td th:text=${entity.longitude}></td>
                                            <td th:text=${entity.contactInfo}></td>
                                            <td>
                    <ul>
                        <li th:each="users_item : ${entity.users}" th:text="${users_item}"></li>
                    </ul>
                </td>
                
        <td>
            <a th:href="@{/location/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/location/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/location/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
