<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Parcel</title>
    <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>
<div th:replace="~{/commons/topbar :: topbar}"></div>
<div th:replace="~{/commons/navbar :: navbar}"></div>
<div th:replace="~{/commons/head :: page('Edit parcel')}"></div>
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h3 th:if="${message != null}" th:text="${message}">Message</h3>
                <h6 class="text-primary text-uppercase font-weight-bold">Add Parcel</h6>
                <div class="contact-form bg-secondary" style="padding: 30px;">
                    <div id="success"></div>
                    <form th:action="@{/parcel}" th:object="${entity}" method="post" name="sentMessage" id="parcelForm" novalidate="novalidate">
                        <div class="form-group">
                            <label class="info-title" for="roles">Sender <span>*</span></label>
                            <select th:field="*{sender}" id="roles" class="form-control unicase-form-control text-input" style="min-height: 100px">
                                <option th:each="item : ${users}" th:value="${item.id}" th:text="${item}"></option>
                            </select>
                        </div>
                        <div class="control-group">
                            <label class="info-title" for="recipient">Recipient <span>*</span></label>
                            <select th:field="*{recipient}" id="recipient" class="form-control unicase-form-control text-input" style="min-height: 100px">
                                <option th:each="item : ${users}" th:value="${item.id}" th:text="${item}"></option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label class="info-title" for="weight">Weight <span>*</span></label>
                            <input type="text" class="form-control border-0 p-4" th:field="*{weight}" id="weight" placeholder="Weight" required="required" data-validation-required-message="Please enter the weight"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label class="info-title" for="cost">Cost <span>*</span></label>
                            <input type="text" class="form-control border-0 p-4" th:field="*{cost}" id="cost" placeholder="Cost" required="required" data-validation-required-message="Please enter the cost"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label class="info-title" for="dispatchDate">Dispatch Date <span>*</span></label>
                            <input type="date" class="form-control border-0 p-4" th:field="*{dispatchDate}" id="dispatchDate" placeholder="Dispatch Date" required="required" data-validation-required-message="Please enter the dispatch date"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label class="info-title" for="deliveryDate">Delivery Date</label>
                            <input type="date" class="form-control border-0 p-4" th:field="*{deliveryDate}" id="deliveryDate" placeholder="Delivery Date" data-validation-required-message="Please enter the delivery date"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group" hidden>
                            <label for="routes" class="font-weight-bold">Routes:</label>
                            <select multiple="multiple" class="form-control border-0 p-4" th:field="*{routes}" id="routes">
                                <option th:each="routes_item : ${entity.routes}" th:value="${routes_item.id}"
                                        th:text="${routes_item}"></option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="status">Status <span>*</span></label>
                            <select th:field="*{status}" id="status" class="form-control unicase-form-control text-input" style="min-height: 100px">
                                <option th:each="item : ${T(com.hescha.mailtracking.model.ParcelStatus).values()}" th:value="${item}" th:text="${item}"></option>
                            </select>
                        </div>
                        <div>
                            <input type="text" class="d-none" th:field="*{id}" id="id">
                            <button class="btn btn-primary py-3 px-4" type="submit" id="saveParcelButton">Save</button>
                            <a class="btn btn-secondary py-3 px-4" th:href="@{/parcel}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/commons/footer :: footer}"></div>
<div th:replace="~{/commons/script :: script}"></div>

</body>
</html>
