<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Parcel</title>
    <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>
<div th:replace="~{/commons/topbar :: topbar}"></div>
<div th:replace="~{/commons/navbar :: navbar}"></div>
<div th:replace="~{/commons/head :: page('Parcel Details')}"></div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Parcel Information</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Sender</th>
                        <td th:text="${entity.sender.fullName()}"></td>
                    </tr>
                    <tr>
                        <th>Recipient</th>
                        <td th:text="${entity.recipient.fullName()}"></td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td th:text="${entity.weight}"></td>
                    </tr>
                    <tr>
                        <th>Cost</th>
                        <td th:text="${entity.cost}"></td>
                    </tr>
                    <tr>
                        <th>Dispatch Date</th>
                        <td th:text="${entity.dispatchDate}"></td>
                    </tr>
                    <tr>
                        <th>Delivery Date</th>
                        <td th:text="${entity.deliveryDate}"></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td th:text="${entity.status}"></td>
                    </tr>
                </table>
                <div class="d-flex">
                    <a class="btn btn-primary" th:href="@{/parcel/edit/{id}(id=${entity.id})}">Edit Parcel</a>
                    <form th:if="${entity.id!=null}" method="get" th:action="'/parcel/' + ${entity.id} + '/delete'">
                        <input type="submit" class="btn btn-primary" value="Delete" onclick="return confirm('Are you sure?')">
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Routes</h3>
                <ul class="list-group">
                    <li class="list-group-item" th:each="route : ${entity.routes}">
                        <strong th:text="${route.locations.address}"></strong>
                        <br/>
                        <small th:text="${route.dateTime}"></small>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div th:replace="~{/commons/footer :: footer}"></div>
<div th:replace="~{/commons/script :: script}"></div>
</body>
</html>
