<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Parcel</title>
    <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>
<div th:replace="~{/commons/topbar :: topbar}"></div>
<div th:replace="~{/commons/navbar :: navbar}"></div>
<div th:replace="~{/commons/head :: page('Parcels')}"></div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h3 th:if="${message != null}" th:text="${message}">Message</h3>
                <a class="btn btn-primary mb-3" th:href="@{/parcel/edit}">Create new Parcel</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>sender</th>
                        <th>recipient</th>
                        <th>weight</th>
                        <th>cost</th>
                        <th>dispatchDate</th>
                        <th>deliveryDate</th>
                        <th>delivery address</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entity : ${list}">
                        <td th:text=${entity.sender}></td>
                        <td th:text=${entity.recipient}></td>
                        <td th:text=${entity.weight}></td>
                        <td th:text=${entity.cost}></td>
                        <td th:text=${entity.dispatchDate}></td>
                        <td th:text=${entity.deliveryDate}></td>
                        <td th:text=${entity.recipient.address}></td>
                        <td style="
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            ">
                            <a class="btn btn-secondary btn-sm" th:href="@{/parcel/{id}(id=${entity.id})}">See detail</a>
                            <a class="btn btn-primary btn-sm" th:href="@{/parcel/edit/{id}(id=${entity.id})}">Edit</a>
                            <form th:if="${entity.id!=null}" method="get" th:action="'/parcel/' +${entity.id}+'/delete'" class="d-inline">
                                <input class="btn btn-danger btn-sm" type="submit" value="Delete" onclick="return confirm('Are you sure?')">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/commons/footer :: footer}"></div>
<div th:replace="~{/commons/script :: script}"></div>
</body>
</html>
