<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Route</title>
    <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>
<div th:replace="~{/commons/topbar :: topbar}"></div>
<div th:replace="~{/commons/navbar :: navbar}"></div>
<div th:replace="~{/commons/head :: page('Edit route')}"></div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="text-primary text-uppercase font-weight-bold">Add/Edit Route</h6>
                <h1 class="mb-4">Enter Route Details</h1>
                <div class="bg-secondary" style="padding: 30px;">
                    <h3 th:if="${message != null}" th:text="${message}">Message</h3>
                    <form th:action="@{/route}" th:object="${entity}" method="post">
                        <div class="form-group">
                            <label class="info-title" for="roles">Parcel <span>*</span></label>
                            <select th:field="*{parcel}" id="roles" class="form-control unicase-form-control text-input" style="min-height: 100px">
                                <option th:each="item : ${parcels}" th:value="${item.id}" th:text="${item}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="roles">Locations <span>*</span></label>
                            <select th:field="*{locations}" id="roles" class="form-control unicase-form-control text-input" style="min-height: 100px">
                                <option th:each="item : ${locations}" th:value="${item.id}" th:text="${item.address}"></option>
                            </select>
                        </div>
                        <div class="control-group">
                            <label class="info-title" for="dateTime">Date Time <span>*</span></label>
                            <input type="date" class="form-control border-0 p-4" th:field="*{dateTime}" id="dateTime" placeholder="Date Time" required>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <input type="text" class="d-none" th:field="*{id}" id="id">
                            <button class="btn btn-primary py-3 px-4" type="submit" id="saveRouteButton">Save</button>
                            <a class="btn btn-secondary py-3 px-4" th:href="@{/route}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div th:replace="~{/commons/footer :: footer}"></div>
<div th:replace="~{/commons/script :: script}"></div>
</body>
</html>
