<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Route</title>
    <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>
<div th:replace="~{/commons/topbar :: topbar}"></div>
<div th:replace="~{/commons/navbar :: navbar}"></div>
<div th:replace="~{/commons/head :: page('Route')}"></div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h3 th:if="${message != null}" th:text="${message}">Message</h3>
                <a class="btn btn-primary mb-3" th:href="@{/route/edit}">Create new Route</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>parcel</th>
                        <th>locations</th>
                        <th>dateTime</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entity : ${list}">
                        <td th:text=${entity.parcel}></td>
                        <td th:text=${entity.locations.address}></td>
                        <td th:text=${entity.dateTime}></td>
                        <td style="
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            ">
                            <a class="btn btn-secondary btn-sm" th:href="@{/route/{id}(id=${entity.id})}">See detail</a>
                            <a class="btn btn-primary btn-sm" th:href="@{/route/edit/{id}(id=${entity.id})}">Edit</a>
                            <form th:if="${entity.id!=null}" method="get" th:action="'/route/' +${entity.id}+'/delete'" class="d-inline">
                                <input class="btn btn-danger btn-sm" type="submit" value="Delete" onclick="return confirm('Are you sure?')">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/commons/footer :: footer}"></div>
<div th:replace="~{/commons/script :: script}"></div>
</body>
</html>
