<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Route</title>
    <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>
<div th:replace="~{/commons/topbar :: topbar}"></div>
<div th:replace="~{/commons/navbar :: navbar}"></div>
<div th:replace="~{/commons/head :: page('Route details')}"></div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3>Route Information</h3>
            <table class="table table-bordered">
                <tr>
                    <th>Parcel</th>
                    <td th:text="${entity.parcel}"></td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td th:text="${entity.locations}"></td>
                </tr>
                <tr>
                    <th>Date and Time</th>
                    <td th:text="${entity.dateTime}"></td>
                </tr>
            </table>
            <div class="d-flex">
                <a class="btn btn-primary" th:href="@{/route/edit/{id}(id=${entity.id})}">Edit Route</a>
                <form th:if="${entity.id!=null}" method="get" th:action="'/route/' + ${entity.id} + '/delete'">
                    <input type="submit" class="btn btn-primary" value="Delete" onclick="return confirm('Are you sure?')">
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{/commons/footer :: footer}"></div>
<div th:replace="~{/commons/script :: script}"></div>
</body>
</html>
