<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FASTER - Logistics Company Website Template</title>
        <head th:replace="~{/commons/head :: head}"></head>
    </head>
    <body>
        <div th:replace="~{/commons/topbar :: topbar}"></div>
        <div th:replace="~{/commons/navbar :: navbar}"></div>
        <div th:replace="~{/commons/head :: page('Service')}"></div>
        <div th:replace="~{/commons/service :: service}"></div>
        <div th:replace="~{/commons/quote :: quote}"></div>
        <div th:replace="~{/commons/testimonial :: testimonial}"></div>
        <div th:replace="~{/commons/footer :: footer}"></div>
        <div th:replace="~{/commons/script :: script}"></div>
    </body>
</html>