<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit TrackingStatus</title>
</head>
<body>
<h1>Edit TrackingStatus</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/trackingStatus}" th:object="${entity}" method="post">

    <p>
        <label for="status">status:</label>
            <input type="text" th:field="*{status}" id="status" required>
        </p>
    <p>
        <label for="statusDateTime">statusDateTime:</label>
            <input type="text" th:field="*{statusDateTime}" id="statusDateTime" required>
        </p>
    <p>
        <label for="parcel">parcel:</label>
            <input type="text" th:field="*{parcel}" id="parcel" required>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/trackingStatus}">Cancel</a>
    </p>
</form>

</body>
</html>
