<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of TrackingStatus</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of TrackingStatus</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/trackingStatus/edit}">Create new TrackingStatus</a>
<table>
    <thead>
    <tr>
        <th>status</th>
        <th>statusDateTime</th>
        <th>parcel</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.status}></td>
                                            <td th:text=${entity.statusDateTime}></td>
                                            <td th:text=${entity.parcel}></td>
                
        <td>
            <a th:href="@{/trackingStatus/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/trackingStatus/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/trackingStatus/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
