<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View User</title>
    <head th:replace="~{/commons/head :: head}"></head>
</head>

<body>
<div th:replace="~{/commons/topbar :: topbar}"></div>
<div th:replace="~{/commons/navbar :: navbar}"></div>
<div th:replace="~{/commons/head :: page('User profile')}"></div>

<div class="container-xxl py-6 mt-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5">
            <h1 class="display-5 mb-3">User Profile</h1>
            <h3 th:if="${message != null}" th:text="${message}" class="text-center"></h3>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>Personal Information</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Username</th>
                        <td th:text="${entity.username}"></td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td th:text="${entity.firstname}"></td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td th:text="${entity.lastname}"></td>
                    </tr>
                    <tr>
                        <th>Passport name</th>
                        <td th:text="${entity.passportNumber}"></td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td th:text="${entity.address}"></td>
                    </tr>
                </table>
                <a class="btn btn-primary"
                   th:if="${#request.getUserPrincipal().getName().equals(entity.username)  or #request.isUserInRole('ADMIN') or #request.isUserInRole('MANAGER')}"
                   th:href="@{/user/edit/{id}(id=${entity.id})}">Edit Profile</a>
            </div>
            <div class="col-md-4">
                <img th:src="${entity.image}" alt="Profile Image" class="img-fluid" style="width: 100%">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3>Sent parcels</h3>
                <ul class="nav nav-pills mb-3" id="ordersTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="CREATED-tab" data-bs-toggle="pill" href="#CREATED" role="tab"
                           aria-controls="CREATED" aria-selected="true">CREATED</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="APPROVED-tab" data-bs-toggle="pill" href="#APPROVED" role="tab"
                           aria-controls="APPROVED" aria-selected="false">APPROVED</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="MOVED_TO_LOCATION-tab" data-bs-toggle="pill" href="#MOVED_TO_LOCATION" role="tab"
                           aria-controls="MOVED_TO_LOCATION" aria-selected="false">MOVED_TO_LOCATION</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="DELIVERED-tab" data-bs-toggle="pill" href="#DELIVERED" role="tab"
                           aria-controls="DELIVERED" aria-selected="false">DELIVERED</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="REJECTED-tab" data-bs-toggle="pill" href="#REJECTED" role="tab"
                           aria-controls="REJECTED" aria-selected="false">REJECTED</a>
                    </li>
                </ul>
                <div class="tab-content" id="ordersTabContent">
                    <div th:each="status : ${T(com.hescha.mailtracking.model.ParcelStatus).values()}"
                         th:id="${status}"
                         th:classappend="${status == T(com.hescha.mailtracking.model.ParcelStatus).CREATED} ? 'active '"
                         class="tab-pane" role="tabpanel" aria-labelledby="${status}-tab">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Parcel ID</th>
                                <th>Recipient</th>
                                <th>Weight</th>
                                <th>Cost</th>
                                <th>Dispatch Date</th>
                                <th>Delivery Date</th>
                                <th>Routes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${entity.sendedParcel}" th:if="${item.status == status}">
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.recipient.fullName()}"></td>
                                <td th:text="${item.weight}"></td>
                                <td th:text="${item.cost}"></td>
                                <td th:text="${item.dispatchDate}"></td>
                                <td th:text="${item.deliveryDate}"></td>
                                <td th:text="${item.status}"></td>
                                <td>
                                    <a
                                       class="btn btn-primary" th:href="@{/parcel/{id}/(id=${item.id})}">Details</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{/commons/footer :: footer}"></footer>

<div th:replace="~{/commons/script :: script}"></div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

